fastapi
uvicorn[standard]
pydantic
python-dotenv
yt-dlp
pydub
huggingface-hub
requests
langchain-core
langchain-mistralai
langchain-chroma
langchain-community
sentence-transformers
audioop-lts; python_version >= "3.13"
static-ffmpeg