fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
yt-dlp
pydub
huggingface-hub
requests
langchain-core
langchain-mistralai
langchain-qdrant
qdrant-client
langchain-community
fastembed
audioop-lts; python_version >= "3.13"
ffmpeg
static-ffmpeg
